<h1>HomePage</h1>
<p>App to create group of Employees from different dippartments.</p>
<%= link_to "Show Departments list", departments_path %>
<br><br>
<%= link_to "Show Employees list", employees_path %>
<br><br>
<%= link_to "Existing groups", groups_path %>
<br><br>
<%= link_to "Create a groups", new_group_path %>